<!DOCTYPE html>
<html lang="ja">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>テレみボタン</title>
    <meta name="description" content="やほやホーダイ" />
    <meta name="author" content="@kslash" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bulma@0.9.0/css/bulma.min.css" rel="stylesheet" />
    <link rel="shortcut icon" href="/favicon.ico">
    <link rel="apple-touch-icon" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="192x192" href="/android-chrome-192x192.png">
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:creator" content="@kslash" />
    <meta property="og:url" content="https://teremi-button.kslash.dev/" />
    <meta property="og:title" content="テレみボタン" />
    <meta property="og:description" content="やほやホーダイ" />
    <meta property="og:image" content="https://teremi-button.kslash.dev/twitter-card.png" />
    <meta name="theme-color" content="#825258">
    <style>
        body {
            background-color: #ffcccc;
            font-family: "Helvetica Neue",
                Arial,
                "Hiragino Kaku Gothic ProN",
                "Hiragino Sans",
                Meiryo,
                sans-serif;
        }
    </style>
    <script src="https://unpkg.com/vue@3.0.2/dist/vue.global.js"></script>
</head>

<body>
    <section class="hero">
        <div class="hero-body py-5">
            <div class="container">
                <h1 class="title">
                    テレみボタン
                </h1>
            </div>
        </div>
    </section>
    <section class="section py-1">
        <div class="container">
            <div class="notification is-danger is-light">
                テレみさんが テレみボタンを配信内で使ってくれました！ → <a
                    href="https://www.youtube.com/watch?v=QonFzLEFZhM">【テレみボタン】録音された声だけで実況プレイはできるのか？</a>
            </div>
            <p>
                当サイトはテレみさんの個人のファンサイトであり、御本人とは無関係です。
            </p>
            <p>
                御本人の迷惑になる行為はお控えください
            </p>
            <p>
                ご意見、ご要望は <a href="https://twitter.com/kslash">@kslash</a> まで
            </p>
        </div>
    </section>
    <section class="section py-2">
        <div class="container">
            <div class="tile is-ancestor">
                <div class="tile is-8 is-parent">
                    <div class="tile is-child box" id="app">
                        <div id="mode" class="mb-2">
                            連続再生モード
                            <label class="radio">
                                <input type="radio" value="pause" v-model="playlist.mode">
                                デフォルト
                            </label>
                            <label class="radio">
                                <input type="radio" value="immediately" v-model="playlist.mode">
                                すぐ再生
                            </label>
                            <label class="radio">
                                <input type="radio" value="later" v-model="playlist.mode">
                                終わってから再生
                            </label>
                        </div>
                        <div class="buttons">
                            <button v-for="button in buttons" :key="button.label" class="button sound"
                                :class="button.class" @click="play($event, button)">
                                {{ button.label }}
                            </button>
                        </div>
                    </div>
                </div>
                <div class="tile is-parent is-vertical">
                    <div class="tile is-child box">
                        <div class="content">
                            <p class="subtitle">アップデート情報</p>
                            <ul class="mt-0">
                                <li>
                                    2020-12-27 一部ボタンにショートカットキーを設定 (wasdなど)
                                </li>
                                <li>
                                    2020-12-24 15種のボタン追加
                                </li>
                                <li>
                                    2020-12-18 パキィボタン2種追加。再生モードの追加。一部音源の再調整
                                </li>
                                <li>
                                    2020-12-16 支援リンクを拡充。ボタン1つ追加
                                </li>
                                <li>
                                    2020-11-10 ボタン26種追加。軽微な修正。支援リンクにBOOTHを追加。
                                </li>
                                <li>
                                    2020-11-09 内部の実装を一新。支援リンクを追加
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="tile is-child box">
                        <div class="content">
                            <p class="subtitle">テレみさん支援リンク</p>
                            <ul class="mt-0">
                                <li>
                                    <a href="https://twpf.jp/teremi_" target="_blank">プロフィール</a> を見る
                                </li>
                                <li>
                                    <a href="https://www.youtube.com/user/Teremi3416" target="_blank">YouTubeチャンネル</a>
                                    で動画を見る
                                </li>
                                <li>
                                    <a href="https://teremi3416.tumblr.com/" target="_blank">テレみ美術館</a> で作品を見る
                                </li>
                                <li>
                                    Twitterで <a href="https://twitter.com/intent/tweet?hashtags=てれ屋さん"
                                        target="_blank">感想を投稿</a>する
                                </li>
                                <li>
                                    Twitterで <a href="https://twitter.com/intent/tweet?hashtags=てれみあーと"
                                        target="_blank">ファンアートを投稿</a>する
                                </li>
                                <li>
                                    <a href="https://line.me/ti/g2/eWUCWPqkDughPlY2VNd6jQ" target="_blank">LINE
                                        オープンチャット</a> で交流する
                                </li>
                                <li>
                                    <a href="https://www.youtube.com/channel/UCiWOPvDD8QDau0Fh3AxXxwg/join"
                                        target="_blank">メンバーシップ</a>
                                    になる
                                </li>
                                <li>
                                    <a href="https://www.amazon.co.jp/hz/wishlist/ls/1LBIF66UJFZEV?ref_=wl_share"
                                        target="_blank">欲しいものリスト</a>
                                    から送る
                                </li>
                                <li>
                                    <a href="https://store.line.me/stickershop/product/12498695" target="_blank">LINE
                                        スタンプ</a> を購入する
                                </li>
                                <li>
                                    <a href="https://teremi.booth.pm/" target="_blank">BOOTH</a> でグッズを購入する
                                </li>
                                <li>
                                    <a href="https://www.youtube.com/c/Teremi3416/store" target="_blank">YouTube</a>
                                    でグッズを購入する
                                </li>
                                <li>
                                    イラスト、Live2D化などの <a href="https://twitter.com/search?q=%23テレみFACTORY"
                                        target="_blank">仕事を依頼</a>する
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="tile is-child box">
                        <a class="twitter-timeline" data-lang="ja" data-height="600"
                            href="https://twitter.com/teremi_?ref_src=twsrc%5Etfw">Tweets by teremi_</a>
                        <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <footer class="footer py-2">
        <div class="content has-text-centered">
            <strong>テレみボタン</strong> by <a href="https://twitter.com/kslash">@kslash</a>.
        </div>
    </footer>
    <script src="/buttons.js"></script>
</body>

</html>